<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Beskedfordeler PoC</title>

	<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" th:href="@{/}">BF PoC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <h1>Vælg hændelsestype</h1>
        <p class="lead">Vælg en hændelsestype nedenfor</p>
      </div>

      <form method="post">
      	<select name="eventType" class="form-control">
      		<option value="6ce72dab-1e09-425e-8503-5d6522f72fdf">Bruger oprettet</option>
      		<option value="862f6d4e-f70a-4e27-9383-24bb32919cf0">Bruger ændret</option>
      		<option value="9edb0c34-36e2-4d87-aba8-3ca7ade718ee">Bruger nedlagt</option>
      	</select>
      	<br/>
      	<input class="form-control btn btn-primary" type="submit" value="Send"/>
      </form>      

    </main>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    		$('#personTable').DataTable();
    	});
    </script>
  </body>
</html>
