<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Beskedfordeler PoC</title>

	<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" th:href="@{/}">BF PoC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Send</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/modtag}">Modtag</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <h1>Beskedfordeler proof-of-concept</h1>
        <p class="lead">Nedenfor er listet de beskeder som er modtaget fra Beskedfordeleren. Klik på en besked for at se de fulde detaljer</p>
      </div>
      
      <table id="messageTable" class="table table-striped">
      	<thead>
      		<tr>
	      		<th style="width: 200px;">Tidspunkt</th>
	      		<th>Besked</th>
	      		<th style="width: 150px;">Handling</th>
      		</tr>
      	</thead>
      	
      	<tbody>
      		<tr th:each="message : ${messages}">
      			<td th:text="${#dates.format(message.tts, 'yyyy-MM-dd HH:mm:ss')}"/>
	      		<td th:text="${message.brief}" />
	      		<td>
	      			<a th:href="@{/modtag/} + ${message.id}">
	      				Se besked
	      			</a>
	      		</td>
      		</tr>
      	</tbody>
      </table>
    </main>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    		$('#messageTable').DataTable();
    	});
    </script>
  </body>
</html>
